
#nav-1{
    height: 65px !important;
    width: auto;
}
#box3{
    border: 1px solid transparent;
}
#box3:hover{
    border: 1px solid #f3a847;
    border-radius: 5px;
}
.form-control{
    width: 550px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 0px !important;
    border-left: 1px solid rgb(186, 186, 251) !important;
}
.sel{
    background-color: #e1e3e4 !important;
    font-size: small;
    width: 50px !important;
    height: 50px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.srch{
    background-color: #f3a847;
    height: 50px;
    height: 50px !important;
    width: 60px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}