
#nav-1{
    height: 65px !important;
    width: auto;
    background-color: #131921 !important;
}
#box3{
    border: 1px solid transparent;
}
#box3:hover{
    border: 1px solid #f3a847;
    border-radius: 5px;
}
.form-control{
    width: 550px !important;
    height: 50px !important;
    border: none !important;
    border-radius: 0px !important;
    border-left: 1px solid rgb(186, 186, 251) !important;
}
.sel{
    background-color: #e1e3e4 !important;
    font-size: small;
    width: 50px !important;
    height: 50px !important;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

}
.srch{
    background-color: #f3a847;
    height: 50px;
    height: 50px !important;
    width: 60px;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.img-con{
    height: 55px;
    width: auto;
}
.nav-2{
    height: 40px !important;
    background-color: #232f3e !important;
}
.nav-item > a{
    color: white !important;
    font-size: 14px !important;
    font-weight: bold;
    padding-left: 20px !important;
}
.navbar-nav .nav-link {
    padding: 0.5rem 0.75rem; /* Adjust padding */
    margin-right: 0.5rem; /* Adjust margin */
    border: 1px solid transparent; /* Set initial border */
    transition: border-color 0.3s; /* Add transition for smooth effect */
  }

  /* Custom CSS for navbar item hover effect */
  .navbar-nav .nav-link:hover {
    border-color: white; /* Change border color on hover */
  }
/* CSS for navbar items */
.navbar-collapse > div {
    border: 1px solid transparent; /* Set initial border */
    transition: border-color 0.3s; /* Add transition for smooth effect */
    cursor: pointer;
}

/* CSS for navbar item hover effect */
.navbar-collapse > div:hover {
    border-color: white; /* Change border color on hover */
}

.card{
    height: 350px;
    width: 18.0rem;
}
.img{
    height: 100px;
    width: 12.0rem;
}
.one-im{
    height: 250px;
    width: auto;
}
.main-sec{
    width: 100vw;

}
.img-sec{
   background-image: linear-gradient(to bottom,transparent,#e1e6e3 30%);
}
.img-sec img{
    width: 100vw;
}
.card-section{
    top: 40%;
    width: 100%;
    border: 0px;
    background-color: transparent;
  /* From https://css.glass */



    /* background-color: ; */
    /* background-image: linear-gradient(); */
}
.mid-sec{
    height: 350px;
    background-color: #131921;
   
    top: 40%;
}
.btn-group:hover .dropdown-menu {
    display: block;
  }
  /* Hide the dropdown when hovering on the button */
  .btn-group:hover .dropdown-toggle {
    background-color: transparent;
    color: #212529;
  }
  /* Set proper z-index to make sure dropdowns are on top of other elements */
  .dropdown-menu {
    z-index: 9999;
  }